body {
	color:       #333333;
	font-family: sans-serif;
	margin:      0;
	padding:     1rem;
}

h1,
p {
	font-weight: normal;
	text-align: center;
}
h1 {
	color: #111111;
}

a {
	color:           #3689e6;
	text-decoration: none;
}

#js--lifespan--text span {
	display:      inline-block;
	margin-right: 1rem;
}

.lifespan--day {
	display: inline-block;
	height:  5px;
	margin:  0 1px 1px 0;
	width:   5px;
}
.lifespan--day--lived {
	background: #c6262e;
}
.lifespan--day--unlived {
	background: #68b723;
}
