body {
	color:       #333333;
	font-family: sans-serif;
	margin:      0;
	padding:     1rem;
}

h1,
h2,
.align-center,
#js--lifespan--text,
#js--lifespan--inputs {
	font-weight: normal;
	text-align: center;
}

a {
	color:           #3689e6;
	text-decoration: none;
}
.align-right {
	text-align: right;
}
.align-left {
	text-align: left;
}
figure {
	max-width: 60rem;
	display: block;
	margin: 0 auto;
}
table {
	width: 100%;
}
tbody tr:nth-child(odd) {
	background-color: #eee;
}

#js--lifespan--inputs span,
#js--lifespan--text span {
	display:      inline-block;
	margin-right: 1rem;
}

.lifespan--day {
	border-bottom: 1px solid #ffffff;
	border-right:  1px solid #ffffff;
	box-sizing:    border-box;
	display:       inline-block;
	height:        6px;
	min-width:     5px;
	width:         calc(100% / 365);
}
.lifespan--day--lived {
	background: #c6262e;
}
.lifespan--day--unlived {
	background: #68b723;
}
.lifespan--day--deceased {
	background: #7a0000;
}
