body {
	color:       #333333;
	font-family: sans-serif;
	margin:      0;
	padding:     1rem;
}

h1,
h2,
.align-center,
#js--lifespan--text,
#js--lifespan--inputs {
	font-weight: normal;
	text-align: center;
}

a {
	color:           #3689e6;
	text-decoration: none;
}
.align-right {
	text-align: right;
}
.align-left {
	text-align: left;
}
figure {
	max-width: 50rem;
	display: block;
	margin: 0 auto;
}
table {
	width: 100%;
}
tbody tr:nth-child(odd) {
	background-color: #eee;
}

#js--lifespan--inputs span,
#js--lifespan--text span {
	display:      inline-block;
	margin-right: 1rem;
}

#js--lifespan--canvas {
	display: block;
}

#js--lifespan--tooltip {
	background:    #333333;
	border-radius: 3px;
	color:         #ffffff;
	display:       none;
	font-size:     0.8rem;
	left:          0;
	padding:       0.25rem 0.5rem;
	pointer-events: none;
	position:      fixed;
	top:           0;
	white-space:   nowrap;
	z-index:       10;
}
